@model IEnumerable<OWCodigo5.Models.Asiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fila)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fila)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAsiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
