@model IEnumerable<OWCodigo5.Models.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObraTeatro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObraTeatro.IdObraTeatro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiento.TipoDeAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Contrasena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarrito">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCarrito">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCarrito">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
